html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins';
}

header {
  background-color: #272626;
  height: auto;
  margin-top: -2.5rem;
  padding-top: 1rem;
  text-align: center;
}

header span {
  padding-left: 1.5rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1, h2, h3 {
  text-align: center;
}

.boton {
  background-color: #242424;
  height: 2rem;
  padding: 2rem 2rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.boton:hover {
  background-color: #005FF3;
  color: #ffffff;
}

.titulo {
  text-align: center;
  color: #00B69D;
  font-family: "Poppins";
}

.titulo span {
  font-size: 2rem;
}

.titulo-texto {
  color: #ffffff;
}

.nav-bg {
  background-color: #005FF3;
  margin-top: -2.6rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.navegacion-principal {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.5rem;
}

.navegacion-principal a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.navegacion-principal a:hover {
  background-color: #00B69D;
  border-radius: 1.5rem;
}

.hero {
  background-image: url(../img/desarrollador.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  height: 55rem;
  border: 0.2rem solid #242424;
}

.contenido-hero {
  position: absolute;
  background-color: #00B69D;
  margin-top: -1rem;
  width: 100%;
  height: 55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero a {
  color: #ffffff;
  text-decoration: none;
}

.contenido-hero h2, .contenido-hero p {
  color: #ffffff;
}

.ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  position: relative;
  border: 0.2rem solid #242424;
}

#servicios {
  background-color: #005FF3;
  padding-top: 1rem;
  border: 0.2rem solid #242424;
}

#servicios h2 {
  color: #ffffff;
}

.seccion-servicios {
  width: 100%;
  height: 55rem;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #00B69D;
  border: 0.2rem solid #242424;
}

.seccion-servicios div {
  width: 50rem;
}

.seccion-servicios div h3 {
  font-size: 3rem;
  color: #ffffff;
}

.seccion-servicios div p {
  font-size: 2rem;
  color: #ffffff;
}

.seccion-formulario {
  background-color: #005FF3;
  padding-top: 3rem;
  border: 0.2rem solid #242424;
}

.seccion-formulario h2 {
  padding-bottom: 2rem;
  vertical-align: auto;
  color: #ffffff;
}

.formulario {
  border: 0.2rem solid #242424;
  outline: none;
}

.formulario textarea {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  border: 0.2rem solid #242424;
  background-color: #00B69D;
  color: #ffffff;
  padding-left: 1rem;
}

.formulario textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.formulario textarea:-ms-input-placeholder {
  color: #ffffff;
}

.formulario textarea::-ms-input-placeholder {
  color: #ffffff;
}

.formulario textarea::placeholder {
  color: #ffffff;
}

.formulario input {
  width: 100%;
  padding: 1.2rem;
  border: 0.2rem solid #242424;
  /* Black border */
  border-radius: 1rem;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

.formulario div label {
  color: #ffffff;
}

.formulario div input {
  background-color: #00B69D;
}

.formulario div input::-webkit-input-placeholder {
  color: #ffffff;
}

.formulario div input:-ms-input-placeholder {
  color: #ffffff;
}

.formulario div input::-ms-input-placeholder {
  color: #ffffff;
}

.formulario div input::placeholder {
  color: #ffffff;
}

.formulario div input[type=submit] {
  width: 100%;
  background-color: #00B69D;
  color: #ffffff;
}

.formulario div input[type=submit]:hover {
  background-color: #ffffff;
  color: #242424;
}

footer {
  background-color: #242424;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .navegacion-principal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 600px) {
  .formulario {
    width: 75vw;
    margin: auto;
  }
}
/*# sourceMappingURL=index.css.map */